
<div class="container-fluid-login">
    <div class="loginbg" [style.backgroundImage]="currentBackgroundImageUrl">
      <div class="row" style="width: 100%; margin-left: 0px;">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <div class="title-div">Travel Destination</div>
          <div class="title-div-main">BREAKOUT</div>
          <div class="login-form-div n-text-title">
            <table style="width: 100%">
              <tbody>
                <tr style="height: 50px; padding-top: 30px; width: 100%">
                  <td style="width: 30px;">
                    <img
                      src="./../../assets/Images/icon.png"
                      style="height: 50px"
                      alt="Image"
                    />
                  </td>
                  <td style="font-size: xx-large;">Reset Password </td>
                </tr>
              </tbody>
            </table>
            <form [formGroup]="UserChangePasswordForm!" (submit)="UserChangePassword()">
              <div class="p-field p-fluid">
                <label for="userName">Reset Code</label>
                <span>
                  <input id="resetcode" type="text" pInputText formControlName="resetcode" required />
                </span>
              </div> 
              <div class="p-field p-fluid">
                <label for="password">Password</label>
                <span>
                  <input id="password" type="password" pInputText formControlName="password" required />
                </span>
              </div>   
              <div class="p-field p-fluid">
                <label for="confirmpassword">Confirm Password</label>
                <span>
                  <input id="confirmpassword" type="password" pInputText formControlName="confirmpassword" required />
                </span>
              </div>     
              <div style="
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  padding-top: 10px;
                ">
                <button (click)="UserChangePassword()" type="submit" class="p-button-green" pButton pRipple
                [disabled]="UserChangePasswordForm?.invalid"  label="Process"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="login-footer">
  
    </div>
  </div>