
<!-- <div class="body-container-without-sidenav">
    <div class="body-content-without-sidenav">
      <div class="row" style="margin: 0px;">
        <div class="centerImage">
          <img src="./../assets/Images/icon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8; height: 80px; text-align: center;">
        </div>
        <div class="centerDiv">
          <div class="card card-login">
            <div class="card-header">
              <h2 class="card-title">
                <div class="brand-link">
                  <img src="./../assets/Images/icon.png"  class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                  <span class="brand-text font-weight-light"><b>Forgot Password</b></span> </div>
              </h2>
            </div>
            <div class="card-body">
              <form [formGroup]="ChangePasswordForm" (submit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12 w-100">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Username/E mail address</mat-label>
                      <input matInput type = "text" formControlName="userInput" >
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="btn-group w-100">

                      <button class="btn col fileinput-button" type="submit" [disabled]="ChangePasswordForm.invalid"
                        style="padding: 0px !important;">
                        <span class="btn btn-warning btn-extendcolor-purple col fileinput-button">
                          <i class="fas fa-arrow-alt-circle-right"></i>
                          <span>Process</span>
                        </span>
                      </button>


                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="lms-footer-without-sidenav">
        <div class="text-shadow lms-footer-div title-div">
          <div class="lms-footer-title-Heading">Copyright &copy; 2021 Tag Wedding Planning Platform</div>
          <div class="lms-footer-title">Version 1.0</div>
        </div>
    </div> -->


<!-- 
    --------------------------------------- -->

    <div class="container-fluid-login">
      <div class="loginbg" [style.backgroundImage]="currentBackgroundImageUrl">
        <div class="row" style="width: 100%; margin-left: 0px;">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <div class="title-div">Travel Destination</div>
            <div class="title-div-main">BREAKOUT</div>
            <div class="login-form-div n-text-title">
              <table style="width: 100%">
                <tbody>
                  <tr style="height: 50px; padding-top: 30px; width: 100%">
                    <td style="width: 30px;">
                      <img
                        src="./../../assets/Images/icon.png"
                        style="height: 50px"
                        alt="Image"
                      />
                    </td>
                    <td style="font-size: xx-large;">Forgot Password </td>
                  </tr>
                </tbody>
              </table>
              <form [formGroup]="ChangePasswordForm!">
                <div class="p-field p-fluid">
                  <label for="userName">Username/E mail address</label>
                  <span>
                    <input id="userName" type="text" pInputText formControlName="userInput" required />
                  </span>
                </div>   
                <div style="
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                  ">
                  <button (click)="ChangePasswordForUserRequest()" type="submit" class="p-button-green" pButton pRipple
                    label="Process"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="login-footer">
    
      </div>
    </div>
    
    